@charset "utf-8";
@import url("../webfonts/Allerta/stylesheet.css");
@import url("../webfonts/Chunk/stylesheet.css");
@import url("../webfonts/Noticia_Text/stylesheet.css");
@import url("../webfonts/Kristi/stylesheet.css");




h2 {
	font-family: Chunk;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color: #3E1213;
}
form {
	font-family: "Noticia Text";
	font-weight: 400;
	font-style: normal;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
fieldset {
	border: 2px solid #000000;
	font-family: Chunk;
	font-style: normal;
	font-weight: 400;
	font-size: medium;
	margin-top: 1rem;
}

legend {
	background-color: #000000;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 500;
	padding-top: 0.3rem;
	padding-right: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 0.3rem;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	width: 40%;
	font-family: "Noticia Text";
	text-align: left;
}
fieldset input {
	width: 95%;
	padding-top: 0.3rem;
	padding-right: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 0.3rem;
	margin-right: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0.4rem;
}
#button input {
	background: #ffffff;
	border: 1px solid #000000;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	margin-left: 0.6rem;
	margin-right: 0.4rem;
}

#button input:hover{
	background: #18BBA7;
}

#button {
	text-align: center;
	margin-top: 1.5rem;
}
textarea {
	width: 95%;
	margin-left: 1rem;
	margin-right: 1rem;
	padding-top: 0.3rem;
	padding-right: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 0.3rem;
}
section {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: #000000;
	font-style: normal;
	background-color: #FFFFFF;
	padding-top: 0.4rem;
	padding-right: 0.4rem;
	padding-bottom: 0.4rem;
	padding-left: 0.4rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 5rem;
}
footer {
	font-size: small;
	text-align: center;
	clear: both;
	position: static;
	bottom: 0px;
	width: 100%;
	padding: 9px;
	left: 0px;
	right: 0;
	background-color: #000000;
	color: #FFFFFF;
}
footer h4 {
	color: #18E016;
	font-family: "Noticia Text";
	font-size: medium;
}
footer label {
	text-decoration: underline;
}
footer h5 {
	font-size: small;
}

.white{
	color:#ffffff;
}

.col-md-4 {
	text-align: center;
	color: #FFFFFF;
}
.carousel-caption h5 {
	font-family: Kristi;
	font-size: 3rem;
}
.navbar-brand {
	color: #820630;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: large;
	background-color: #FFFFFF;
}

.nav-item a:hover{
	color: #F50053;
	font-size: large;
	/* background-color: #FFFFFF; */
}
.active a{
	color: #DA004A;
	font-weight: 700;
	font-style: normal;
}
h3 {
	color: #000000;
}
.img {
	text-align: center;
}
.singer {
	background-image: -webkit-linear-gradient(270deg,rgba(155,141,20,0.61) 0%,rgba(255,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(155,141,20,0.61) 0%,rgba(255,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(155,141,20,0.61) 0%,rgba(255,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(155,141,20,0.61) 0%,rgba(255,0,0,1.00) 100%);
}
.nav-item .active {
	color: #B01517;
}


@media (max-width:600px){
.row {
	width: 100%;
	display: block;
	text-align: center;
}
.col-6{
	max-width: 100%;
	margin-left: 1rem;
	margin-right: 1rem;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	margin-top: 1rem;
	}
form {
	width: 100%;
}


}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.container {
	margin-bottom: 0.8rem;
	margin-top: 3rem;
}


@-webkit-keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
